<!DOCTYPE html>
<html>
<head>
    <title>Muokkaa</title>
</head>
<body>
    <h1>Muokkaa sidequestia</h1>
    <form action="/edit/{{ quest['id'] }}" method="post">
        <p>Nimi: <input type="text" name="name" value="{{ quest['name'] }}" /></p>
        <p>Kuvaus:<br /><textarea name="description" rows="4" cols="50">{{ quest["description"] }}</textarea></p>
        <p>Aika-arvio:
            <select name="time_estimate">
                <option value="<15min" {% if quest["time_estimate"] == "<15min" %}selected{% endif %}>alle 15 min</option>
                <option value="15-30min" {% if quest["time_estimate"] == "15-30min" %}selected{% endif %}>15-30 min</option>
                <option value="30min-1h" {% if quest["time_estimate"] == "30min-1h" %}selected{% endif %}>30 min - 1h</option>
                <option value="1h-2h" {% if quest["time_estimate"] == "1h-2h" %}selected{% endif %}>1h - 2h</option>
                <option value=">2h" {% if quest["time_estimate"] == ">2h" %}selected{% endif %}>yli 2h</option>
            </select>
        </p>
        <input type="submit" value="Tallenna" />
    </form>
    <a href="/quest/{{ quest['id'] }}">Peruuta</a>
</body>
</html>