<!DOCTYPE html>
<html>
<head>
    <title>Uusi sidequest</title>
</head>
<body>
    <h1>Luo uusi sidequest</h1>
    <form action="/new" method="post">
        <p>Nimi: <input type="text" name="name" /></p>
        <p>Kuvaus:<br /><textarea name="description" rows="4" cols="50"></textarea></p>
        <p>Aika-arvio:
            <select name="time_estimate">
                <option value="<15min">alle 15 min</option>
                <option value="15-30min">15-30 min</option>
                <option value="30min-1h">30 min - 1h</option>
                <option value="1h-2h">1h - 2h</option>
                <option value=">2h">yli 2h</option>
            </select>
        </p>
        <input type="submit" value="Luo sidequest" />
    </form>
    <a href="/">Takaisin</a>
</body>
</html>