{% extends "layout.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>

<form action="/create_user" method="post">
  <p>
    <label for="username">Username (max 20 characters)</label>:<br />
    <input type="text" name="username" id="username" maxlength="20" />
  </p>
  <p>
    <label for="password1">Password (min 6 characters)</label>:<br />
    <input type="password" name="password1" id="password1" />
  </p>
  <p>
    <label for="password2">Password again</label>:<br />
    <input type="password" name="password2" id="password2" />
  </p>
  <input type="submit" value="Register" />
</form>

<p><a href="/login">Log in</a></p>
{% endblock %}
